<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav>
        <div style ="text-align: right">
            {% if request.user.is_authenticated %}
                <form action="{% url 'logout' %}" method="POST" stlye="display: inline">
                    {% csrf_token %}
                <button>로그아웃</button>
                <h3>{{ request.user.username }}</h3>
            {% else %}
                <a href ="{% url 'signup' %}">회원가입</a>
                <a href ="{% url 'login' %}">로그인</a>
            {% endif %}
        </div>
    </nav>

{% for title in todo_titles  %}
    <h3>
    {{ title }}<br>
    </h3>
{%  endfor  %}
</body>
</html>