{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <!-- 제목 -->
    <h1 class="mb-3">
        {% if request.user.is_staff %}
            <span class="text-secondary">{{ todo.author.username }}:</span>
        {% endif %}
        {{ data.title }}
    </h1>
    <hr>

    <!-- 데이터 리스트 -->
    <ul class="list-group mb-4">
        {% for key, value in data.items %}
            <li class="list-group-item">
                <strong class="text-primary">{{ key }}</strong>:
                {% if key == "description" %}
                    {{ value|safe }}
                {% elif key == "image" %}
                    <img src="{{ value }}" class="col-2">
                {% else %}
                    {{ value }}
                {% endif %}

            </li>
        {% endfor %}
    </ul>

    <hr>

    <!-- 댓글 작성 폼 -->
    {% if request.user.is_authenticated %}
        <h3 class="mb-3">댓글 작성</h3>
        <form method="post" action="{% url 'todo:info' pk=todo.pk %}">
            {% csrf_token %}
            <div class="mb-3">
                {{ comment_form.as_p }}
            </div>
            <div class="text-end">
                <button class="btn btn-primary">작성</button>
            </div>
        </form>
    {% endif %}

    <!-- 목록 버튼 -->
    <div class="my-4 text-start">
        <a class="btn btn-sm btn-info" href="{% url 'todo:list' %}">목록</a>
    </div>

    <hr>

    <!-- 댓글 목록 -->
    <div id="comment_wrapper" class="mt-4">
        <h3 class="mb-3">댓글 목록</h3>
        {% for comment in comments %}
            <div class="border-bottom pb-2 mb-3">
                <p>{{ comment.content }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <!-- 수정/삭제 버튼 -->
                    <div>
                        <a href="{% url 'todo:comment_update' pk=comment.pk %}" class="btn btn-warning btn-sm me-2">수정</a>
                        <form action="{% url 'todo:comment_delete' comment.pk %}" method="POST" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">삭제</button>
                        </form>
                    </div>
                    <!-- 작성자 및 작성일 -->
                    <small class="text-muted">
                        {{ comment.created_at | date:'Y-m-d:i' }} 작성자: {{ comment.author.username }}
                    </small>
                </div>
            </div>
        {% empty %}
            <p class="text-muted">등록된 댓글이 없습니다.</p>
        {% endfor %}
    </div>

    <!-- 페이지네이션 -->
    {% include 'pagination.html' %}
</div>
{% endblock %}